/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: grid;
  justify-content: center;
  padding-block-start: 100px;
  color: var(--page-text-color, #00CC14);
  font-family: var(--page-font-family-Inter, 'Inter', sans-serif);
  font-weight: var(--page-font-weight-Inter-regular,465);
  line-height: var(--page-line-height, 117%);
  background-image: var(--page-background-image, repeating-linear-gradient(90deg,#000 0 2px, transparent 2px 4px), repeating-linear-gradient(180deg,#000 0 2px, transparent 2px 4px), linear-gradient(180deg, #007f0c, #004306));
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--page-font-weight-Inter-regular,465);
}

.header {
  display: grid;
  justify-items: center;
  border: 2px solid var(--page-accent-color, #00CC14);
  padding-inline: clamp(0.875rem, -1.4688rem + 10vw, 7.53125rem);
  padding-block: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) 25px;
  font-family: var(--page-font-family-PressStart2P, 'PressStart2P', sans-serif);
  font-weight: var(--page-font-weight-PressStart2P-regular, 400);
  line-height: normal;
  text-transform: uppercase;
  background-color: var(--page-background-color, #000000);
}

.header__decoration {
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  margin-block-start: 20px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.header__theme-menu {
  margin-block-start: 25px;
}

.theme-menu__list {
  display: grid;
  gap: 10px;
  padding-inline-start: 20px;
}

.theme-menu__button {
  position: relative;
  border: none;
  font-size: 14px;
  text-transform: inherit;
  background: none;
  cursor: pointer;
  appearance: none;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  animation: arrow 0.5s ease-in-out infinite alternate; 
  inset-inline-start: -20px;
  inset-block-start: 0;
}

.main {
  display: grid;
  justify-items: center;
  gap: 52px;
  padding-block-start: 100px;
  padding-block-end: 100px;
}

.cards-list {
  display: grid;
  gap: 50px;
}

.card-list-item {
  border: 2px solid var(--page-accent-color, #00CC14);
  background-color: var(--page-background-color, #000000);
  max-inline-size: 696px;

}

.card {
  display: grid;
}

.card__title {
  padding-inline: 10px;
  padding-block: 4.5px;
  font-size: 18px;
  line-height: 117%;
  font-variation-settings: "wght" var(--page-font-weight-Inter-extra-bold, 785);
}

.card__image-block {
  position: relative;
}

.card__watermark {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  font-family: var(--page-font-family-PressStart2P, 'PressStart2P', sans-serif);
  font-size: 14px;
  line-height: normal;
  text-shadow: 0 0 1px var(--page-background-color, #000000);
  inset-inline-end: clamp(0.8125rem, 0.5484rem + 1.1268vw, 1.5625rem);
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
}

.card__image {
  border-block: 2px solid var(--page-accent-color, #00CC14);
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1 /1;
}

.card__content {
  display: grid;
  gap: 27px;
  padding-inline: 25px;
  padding-block-start: 25px;
  font-size: 18px;
  line-height: 117%;
}

.card__footer {
  display: flex;
  justify-content: end;
  padding-inline: 25px;
  padding-block: 25px;
}

.like-icon {
  inline-size: 39px;
}

.main-body, .core, .sparks {
  fill: none;
}

.card__like-button {
  position: relative;
  border: 2px solid var(--page-accent-color, #00CC14);
  padding-inline: 35px;
  padding-block: 11px;
  font-family: var(--page-font-family-PressStart2P, 'PressStart2P', sans-serif);
  font-size: 14px;
  line-height: 90%;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  block-size: 38px;
}

.card__like-button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: var(--page-accent-color, #00CC14);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
}

.card__like-button:hover::before {
  transform: scaleX(1);
}

.button__text {
  mix-blend-mode: difference;
}

.card__icon-button {
  border: none;
  background-color: transparent;
}

.button_save-to-the-memory {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border: 2px solid var(--page-accent-color, #00CC14);
  padding-inline: 20px;
  padding-block: 15px;
  font-family: var(--page-font-family-PressStart2P, 'PressStart2P', sans-serif);
  font-size: 14px;
  background-color: var(--page-background-color, #000000);
}

.icon__save-to-the-memory {
  inline-size: 28px;
  block-size: 28px;
}

@media (width >= 1440px) {
  .button_save-to-the-memory {
    flex-direction: row;
  }
  .icon__save-to-the-memory {
    inline-size: 21px;
    block-size: 21px;
  }
}
