/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-dark {
  --page-like-icon-contour: var(--color-green, #00CC14);
  --page-like-icon-core: var(--color-black, #000000);
  --page-like-icon-main-body: var(--color-black, #000000);
  --page-font-weight-Inter-regular: 465;
  --page-font-weight-Inter-extra-bold: 785;
  --page-font-weight-PressStart2P-regular: 400;
  --page-accent-color: var(--color-green, #00CC14);
  --page-text-color: var(--color-green, #00CC14);
  --page-button-before-color: var(--color-green, #00CC14);
  --page-background-color: var(--color-black, #000000);
  --page-background-image: repeating-linear-gradient(90deg,#000 0 2px, transparent 2px 4px), repeating-linear-gradient(180deg,#000 0 2px, transparent 2px 4px), linear-gradient(180deg, #007f0c, #004306);
}

@media (prefers-color-scheme: light) {
  :root {
    --page-like-icon-contour: var(--color-black, #000000);
    --page-like-icon-core: var(--color-white, #FFFFFF);
    --page-like-icon-main-body: var(--color-white, #FFFFFF);
    --page-font-weight-Inter-regular: 400;
    --page-font-weight-Inter-extra-bold: 700;
    --page-font-weight-PressStart2P-regular: 400;
    --page-accent-color: var(--color-black, #FFFFFF);
    --page-text-color: var(--color-black, #FFFFFF);
    --page-button-before-color: var(--color-white, #FFFFFF);
    --page-background-color: var(--color-white, #FFFFFF);
    --page-background-image: repeating-linear-gradient(90deg,#D3D3D3 0 2px, transparent 2px 4px), repeating-linear-gradient(180deg,#D3D3D3 0 2px, transparent 2px 4px), linear-gradient(180deg, #E7E7E7, #1A1A1A);
  }
}

:root.theme-light {
  --page-font-weight-Inter-regular: 400;
  --page-font-weight-Inter-extra-bold: 700;
  --page-font-weight-PressStart2P-regular: 400;
  --page-accent-color: var(--color-black, #FFFFFF);
  --page-text-color: var(--color-black, #FFFFFF);
  --page-button-before-color: var(--color-white, #FFFFFF);
  --page-background-color: var(--color-white, #FFFFFF);
  --page-background-image: repeating-linear-gradient(90deg,#D3D3D3 0 2px, transparent 2px 4px), repeating-linear-gradient(180deg,#D3D3D3 0 2px, transparent 2px 4px), linear-gradient(180deg, #E7E7E7, #1A1A1A);
}
